{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <section>
            <h2>Workshop on Advanced Enbedded Systems  </h2>
            <h3>By Advanced Labs ,Chandigarh</h3>
            
            
            <br>
            <br>
            
            <h3>This workshop is open for everyone.</h3>
            <h3>This workshop is important from placement presepective.</h3>
            <h3>Certificates shall be provided to each participants.</h3>
        </section>
    </div>
</div>
{% endblock %}