{% extends "event_layout.html" %} {% block content %}


<div class="container">

    <div class="content">
        <h2>Amusing Maths </h2>
 
      
        <section>
           Three centuries earlier, Galileo had written, "Nature's great book is written in mathematical language"  Mathematics is the language of nature. It is music  to mind. Without  mathematics we can’t imagine the world. It is a play that starts with 0 and ends with infinity.  Here is an  opportunity to play with mathematics and test your mathematical skills.
        </section>
        	
	
        <section>
            <h3><b>Events details: </b></h3>

           To check your mathematical skills and abilities.
        </section>
        <section>
            <h4>Event format:</h4> 
            <h3>Round 1:</h3>
        <p>   This is a pen - and - paper puzzle round where the teams are supposed to solve Mathematical puzzles in the given time.
The top 20-25% teams will be taken to 2nd round. </p>

            <h3>Round 2:</h3>
            <p>
               This is a Rapid fire round. Each team will be given only 60 seconds time and the number of questions answered by that team in that time will be counted.
              The top 7 teams will be finalized in this round.
         </p>
            <h3>Round 3:</h3>
            <p>
             In this round, the questions will be on 'General Knowledge' of Mathematics, Mathematicians etc.
            </p>
        </section>
        
        <section>
            <h3>Note:</h3>
            <p>This event can be participated  by a team of two of individually.  The event comprises of 3 rounds</p>
        </section>
        <section>
            <h3>Judgement Criteria</h3>
            <ul>
                <li> Round1:
Points based on their performance in quiz
</li>
                <li> Round2: This is the semi-final round.points in the 1st round and this round will be summed up. </li>
                <li>Round3:
This is the final round. Based on points from previous stages, 7 teams will be selected. Team will have to compete with other teams to win. In this round, mathematical knowledge of each participant will be  tested. And who perform better within time will be winners.
.</li>
            </ul>
        </section>       
      <!--  <section>
            <h3><b>Prizes:</b></h3>
            <ul>
                <li>1st prize:- Rs 2000/-</li>
                <li>2nd prize:- Rs 1500/-</li>
                <li>3rd prize:- Rs 1000/-</li>
            </ul>
        </section>  -->
         <section>
            <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Sakshi Dhiman ( sd.superficial100@gmail.com)

                </li>
                <li>
              Ayush Raina (ayushraina49@gmail.com):9622240228

                </li>
                
            </ul>
            
        </section>





</div>
</div>


        {% endblock %}