 {% extends "event_layout.html" %} {% block content %} 

<div class="container">

    <div class="content">
    <h2>  Workshop On </h2>
        <h2>App Development And BIG DATA</h2>
        <section>
            <h3><b>Introduction:</b></h3>
            <p>A workshop will be organized by  IBM experts on application Development through java in first phase. Second phase shall consist of deployment of application to the cloud. The concepts of BIG DATA and HADOOP will be elaborated  in third phase.
</p>
        </section>
         <section>
            <h3><b>Workshop Date:</b></h3>
           <li>
                   21st May 2015 - Thursday
                </li>
         
        </section>
        
        <section>
            <h3><b>Workshop format:</b></h3>
           <li>
                    11am -1pm :Java and web application concepts
                </li>
         <li>
                 2.15 pm – 3.45 pm : Cloud deployment
                </li>
                <li>
                 3.45pm – 6.30 pm : Big data and Hadoop
                </li>
        </section>

        <section>
            <h3><b>Note:</b></h3>
             <li>
                Limited seats: Register ASAP (FIRST COME FIRST SERVE)
                </li>
           <li>
           Bring your laptops along for hands on practise.
                </li>
         <li>
               Notepads and pens shall be provided.
                </li>
               
        </section>
        
           <section>
            <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Aditya Gupta : 9622131800
                </li>
                <li>
                    Akshay Dwivedi : 9596168629
                </li>
                 <li>
                  Prateek
                </li>
            </ul>

        </section>
        </div>
        </div>


        {% endblock %}