{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Auto Cadd Workshop</h2>
        <section>
            <p>AutoCAD is commercial software for application of 2-D and 3-D computer-aided design (CAD) and drafting. Workshop on AUTOCAD will be organised by experts from CADD Centre. First session will introduce the basic concept of the software and second session will be focusing at 2-D modelling through basic tools of AUTOCAD.
            </p>
            <p>24th May</p>
        </section>
        <section>
            <h3>Rules</h3>
            <ul>
                <li>Limited seats: Register ASAP (FIRST COME FIRST SERVE BASIS)</li>
                <li>Bring your laptops along for hands on practise</li>
                <li>AUTOCAD Software would be provided by the organisers</li>
            </ul>
            <h3>Organisors:</h3>
            <ul>
                <li>Tarunpal Singh (9419300821)</li>
                <li>Deepak Kumar (9596906091)</li>
                <li>Uday Singh (7298958353)</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
