{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>BEG BORROW BUY STEAL</h2>
        <section>
            <p>Beggar, Borrower or Thief..EXPLORE YOUR INNER DEMON…We will give you a task and you need to complete it. By hook, or by crook ! You might have to kneel.. You might have to steal.. The Axe is swinging above your head.. And the Clock is ticking.. Finish before  everybody else to save your skin and win the jackpot!!</p>
        </section> <section>
            <h4>EVENT FORMAT:</h4>

              <ul>
                  <li>Stage 1(day1): Demonstration regarding the event and FIRST PHASE in which Round 1 &amp 2 will be conducted.</li>
                  </ul>

              <ul>
                  <li>  Stage 2(day 2): Demonstration regarding SECOND PHASE and Round 3, 4 &amp 5 will be conducted and whole event will be completed and finally winner will be announced.</li>
                  </ul>


        </section>
        

        <section>
            <h3><b>Event details:</b></h3>

                      <h3>    ROUND 1 :- </h3>
                                <ul>
                                    <li>    In round 1 of first phase, each team will be asked to COLLECT some ITEMS.</li>
                                    <li>    All the Teams will be provided with a same list of items.</li>
                                    <li>Team will be provided with a LIST of items having (10 points for each items of list ‘A’ , 20 points for each items of list ‘B’ , and 30 points for each items of list ‘C’).</li>
                                    <li>    We see these items (daily use, scientific, machinery, or natural ) around us and come in contact with them in day to day life but we going to check their capability that how faster and efficiently they can arrange these items within allotted time. If you hear a name of these items, you think that it is easily available but when go to get them then it became difficult to find them. So we are going to organize this in 1st round of our event. Some of items are as….{Empty 2 rupees pen, Steel geometry box, Monkey cap, yellow smiley balletc.}</li>
                                    <li>    The participants can buy them, beg them, borrow them or even steal them (from other teams).</li></ul>
   <h3>   MATHEMATICUS :-</h3>
                                    <ul>
                                    <li>2 Members from each Team have to perform for the Team. A set of          MATHEMATICAL QUESTIONS kept in plastic packs, having distance in between, will be hanged on a long rope. The 1st member of the team will have his/her hand tied up and he/she will have to jump and pluck plastic packs having question with mouth and bring it to the second member who have to solve it. This process is to be done continuously by these two as the task will run for 5 - 10 minutes (depending upon the participation strength) and these two have to solve as much questions as they can within the allotted time. Finally the Teams will be given ‘Points’ accordingly with the number of solutions they provide. (Questions are comprised of mathematical tricks, puzzles, IQ based, or simple calculative).</li>
                                    </ul>
                               


 <h3>Fotographia:</h3>

            <p>Team will be provided with a LIST of the situations to take pictures. Each team have to click PICTURE of each given situation within the allotted Time. Team have to request or Beg someone to click those pictures of yours, performing the given situations. Some of the situations are as………<p>
            <ul>
                <li>The full team jumping in the air. All must be off the ground.</li>
                <li>A TM blowing a bubble with a bubble-gum. { TM – Team Member }.</li>
            </ul>
             <h3>   MAD ABOUT PHYSICS </h3>
                                 <ul>
                                 <li>2 Members from each Team have to perform for the team. The first member will be tied up with a band on his/her eye and the other one will have open eyes. These two have to Co-operate with each other to perform the task. There will be QUESTION OF PHYSICS in each Balloon.The 1st member will have to BURST THE BALLOONS lying on ground with their feet. The other member will have to guide the first one in the process. After bursting a balloon, as you will get a question out of it,the 2nd member will solve the question and put its solution in a box (given) and again repeat the process in same fashion till the time limit reaches(5 – 10 minutes).

</li>
          </ul>
           <h3>  BEGGAR ROUND</h3>
        <ul>
        <li>Each team have only to beg someone (non-participants/ audiences/ Guests/ even Professors, anyone) to buy some items for them from shop. Teams have to convince others without offending them in anyways and make them to buy the items with their own will for them. Teams will be provided with points accordingly with the MRP of the items. If any member of the team is found to be cheating in anyway then the Team will be disqualified immediately. The 1st, 2nd&3rd Team to come to us, will be given with BONOUS POINTS.

</li>
</ul>

           </section>
             <section>
             <h3>Rule:</h3>
            <ul>
            <li>    Each team can have MAXIMUM of 5 MEMBERS and MINIMUM of 3</li>
            <li>    Event will be completed in TWO phases. FIRST Phase comprises of 2 rounds and SECOND Phase comprises of 3 rounds. </li>
            <li>The team will pay on their own for items present in the list in the first round that are to be bought.</li>
            <li>    All the valuables items will be returned back after completion of the event.</li>
            <li>    Stealing from other Team is ALLLOWED to get the required items.</li>
           <li> A carry bag is given to each group, you have to submit the items in same carry bag, without damaging the bag.</li>
            <li>    No boundation for collecting all items. Items are to be collected depending on the availability.</li>
            <li>    Each team will be allotted with same amount of time i.e. 2 hours for collecting the items present in the list.</li>
            <li>    In round 2 of first phase, MATHEMATICUS will be conducted.</li>
            <li>    In round 1 of second Phase, FOTOGRAPHIA will be conducted.

</li>
            <li>    In round 2 of second phase, MAD ABOUT PHYSICS will be conducted.</li>
            <li>    And finally in round 3 of second phase, we are giving you the task to explore your inner demon to beg i.e. BEGGAR-ROUND.</li>
            <li>    Participants are NOT ALLOWED TO DESTROY COLLEGE PROPERTY for collecting the required items.</li>
            <li>    Team may be comprised of Boys, Girls, or Both.</li>
            <li>    Teams will have to get themselves registered before the commencement of the event.(Spot registration may be allowed depending upon participation strength).</li>




            </ul>
        </section>

       
        <section>
            <h3><b>Judgement  Criteria :</b></h3>
            <ul>
                <li>The EVENT will be conducted in 2 PHASES and round 1, 2, 3, 4, 5 comprises of 2 hours, 10 minutes, 1 hour, 15 minutes,1 hour.</li>
                <li>2 items of same type will be counted as one.</li>
                <li>After round 1 some teams will be ELIMINATED depending upon score.</li>
                <li>No team will be considered for judgement if they don't submit the collected items within 2 hours.</li>
                <li>In case of tie, teams having more items of maximum points will be selected.</li>
                <li>Timing will made in consideration if two or more teams get identical points.</li>
                <li>At least 10 teams will qualify for PHASE 2 depending upon participation strength. </li>
                <li>Decision of the organizers will be final and inevitable.</li>
            </ul>
        </section>
         
        <section>
            <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    GAUTAM  KISHORE : 9086820340 (gautamkishore11@gmail.com)
               
            

                </li>
                <li>
                 ARUNIMA GUPTA (guptaarunima404@gmail.com)               </li>
                
            </ul>
            
        </section>
{% endblock %}
    
