{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>MeGA-QUIZ</h2>
        <section>
            <h3><b>Event details:</b></h3>
            <p>Get ready to compete with the sharpest and fastest minds
with a passion for the business world. Only lightning fast
responses and out of the box thinking can sail you through
the tough competition. Do you have the mettle to battle it
out at the quiz-essential zone of Techvaganza 2K15? If yes,
then don’t miss the chance and be ready to be the ultimate
tech-buiznocrats!!!</p>
        </section>
        <section>
            <h3><b>Event Format:</b></h3>
            <h3>Round1:</h3>
            <p>Objective quiz (companies’ logos, abbreviations, recent
trends etc.)</p>
<h3>Round2:</h3>
<p>Tech-dumbcharatz (a fun sort of event for those who have
knowledge of technical terms and general awareness. Just like
dumbcharatz, one team member has to explain the term to his rest
team using actions).</p>
<h3>Round3:</h3>
<p>Written CORPORATE quiz (basics of stock market,
management, business, technical terms related to finance, and famous
happenings of corporate world).</p>
<h3>Round4:</h3>
<p>Audio Visual round (based on history of companies,
stocks, facts, identifying from clues, personalities and a lot more).</p>
        </section>
        <section>
            <h3><b>Rules:</b></h3>
            <ul>
                <li>Each team will consist of 3 members.</li>
                <li>Mobiles are not allowed.</li>
                <li>Scores of each round will be added to shortlist teams for
the next round, the final round results will be
independent of previous scores unless a tie occurs.
4. The decision of the quizmaster will be final and binding.
For further.</li>
<li>The decision of the quizmaster will be final and binding.</li>

            </ul>
        </section>
<section>
    <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Sarthak Agarwal : 9858129140
                </li>
                <li>  Aakash : 8713918033 (nigam24sep@gmail.com)</li>
            </ul>
            
</section>
</div>
</div>

 {% endblock %}