
 {% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
     <h2>CLASH OF CANNONS</h2>
          <section>
          <p>"AIM HIGH AND HIT THE BULL'S EYE"
Ever got fascinated by the artillery guns and cannons ? Get the hands on to a real one. Aim
high, take the shot and feel the recoil.
</p>
             </section>
           <section>
          <h4>EVENT FORMAT:</h4>The event will consist of two rounds. Each round has a specific format as described below.
The winner of the event will be decided in the final round.


            <ul>
                <li>Preliminary Round (Round 1):</li>This round consists of a written aptitude test. Top 6 teams will qualify for the next round and
the same will be given a workshop regarding making of spud gun.
                </ul>

            <ul>
                <li> Cannonade (Round 2):</li>
                <li>stage-1:</li>BULL’S EYE: This is probably the most interesting round of this event. In this
round, participants of qualified teams will be given chances to shoot the target with spud gun
(Spud gun: To be provided by the organising team). The team with the maximum points at
the end of round will have the edge in next round.
<li>stage-2:</li>BOWLING: The teams will aim to hit the pyramid of the bins. The objective will be
to demolish the structure. The points will be given accordingly to the number of bins jolted
down. More the number of bins down, more will be the points. The team having more points
at the end of the round will be winner.
                </ul>

                   
      </section>
      




          <section>
           <h3>Rule:</h3>
          <ul>
          <li>A team should strictly consist of 2 members.</li> 
          <li>No extra shooting chance will be given to any of the participating team.</li>         
          <li>The score obtained in the preliminary round will be the sole criteria for entry
into the second round.</li>         
          <li>The call of the judges will be final and no further arguments will be
entertained.</li>         
          <li>Judges reserve the right to disqualify any team indulged in misbehaviour.</li>         
          <li>The team violating any of the rules mentioned above will be disqualified.</li>         
          <li>Spud gun for shooting will be provided by organising team.</li>         

           </ul>
      </section>


         <section>
          <h3>Judgement Criteria:</h3>
          <ul>
          <li>For round 1, top 6 teams will be shortlisted on basis of their scores in aptitude.</li>
          <li>For round 2, the scores will be given as per the accuracy in the shooting. The team
with maximum score will be declared as winner.</li>
          <li>Judges call will be final.</li>

              </ul>
          <p>The decision of the judges shall be final and binding.</p>
      </section>

      <section>
          <h3>Important Dates:</h3>
          <p>The  entry should be submitted latest by 22nd May, 2015.</p>
      </section>

      <section>
              <h3>
                  For more info contact us at:
              </h3>
              <ul>
                  <li>
                  Raghav Khajuria (Email: raghavkhajuria04@gmail.com)
Contact no:8713020330



                  </li>
                  <li>Abhinav Gupta (Email: abhi17guptakth@gmail.com)
Contact no: 9622218521 </li>

                    
              </ul>


          </section>

  </div>
  </div>
   {% endblock %} 