{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>DIRECTORS CUT</h2>
        <section>
            <p>Take the camera-Shoot your fantacy,Believe in your idea-Show to world. You are the one who can make others laugh,cry and even motivate. Show others what's your point of view,the truth never reveal,the talent which is hidden and the ideas which are still in mind.</p>
        </section>
        <section>
            <h4>Rules:</h4>
            <ul>
            <li>Submit your movie one day before the event.</li>
            <li>your movie should not be more than 15 minutes, if it exceeds 15 minutes your points will be deducted.</li>
            <li>There is no overall theme for movies, participants are free to make movies of their own interest.</li>
            <li>Your Movie should be in one of the four formats i.e, .FLV, .mp4, .avi, .mkv. Any Entry in any other format will not be acceptable.</li>
            <li>All Entries should be original do not plagiarize.</li>
            <li>All Entries should be submitted prsonally to the coordinators.</li>
            </ul>
        </section>
        <section>
            <h3>
               For more info contact us at:
            </h3>
            <ul>
                <li>Arpit Shukla (+919858160556) arpit0609@hotmail.com</li>
                <li>Siddharth Vyas (+919086667945)</li>

            </ul>

        </section>
    </div>
</div>

{% endblock %}