{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <section>
            <h2>Technological development and market Intelligence </h2>
            <h3>Guest Speakers</h3>
            
             <p>Yasmeen Fatimah (Consultant, Center for Innovation &amp; Entrepreneurship &amp; Placement Cell)</p>
             <ul>
             <li>University of Florida MS, Computer Science and Eng</li>
            </ul>
            <br>
            <br>
            
            <h3>This workshop is open for everyone.</h3>
            <h3>This workshop is important from placement presepective.</h3>
        </section>
    </div>
</div>
{% endblock %}