 {% extends "event_layout.html" %} {% block content %} 
<div class="container">

    <div class="content">
        <h2>MINUTE TO WIN IT </h2>
         <h2>Egg Drop</h2>
    <section>
        <p>Each participant will be provided with an egg. They have to pack the eggs using packing material that will be provided to them in such a way that the packed egg if dropped from a certain height does not break.</p>
    </section>
    
    <section>
          <h3><b>Prizes:</b></h3>
          <p>Winner: Momento and big chocolate.<br>
1st runner- up: Momento and chocolate.<br>
2nd runner-up: Momento and chocolate.<br>
Participants: Chocolate.
</p>
    </section>



    <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul style="list-style:none">
                <li>
                   Farah magray 
                </li>
                <li>
                   Surbhi goswami
                </li>
            </ul>
            
        </section>
</div>
</div>
 {% endblock %} 