{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <section>
            <h2>Environmental issues in Jammu  &amp; Kashmir</h2>
            <p>Department of Chemical Engineering,Department of Environmental Sciences University of Kashmir</p>

	    <ul>
	    <li>Brick Kiln Emissions, worst kind of Emissions.<a href="//www.academia.edu/6426675/Brick_kiln_emissions_and_its_environmental_impact_A_Review">More details</a></li>
	    <li>Urban Water Suppllies<li>
	    <li>STP technologies ans their cost effectiveness<li>
	    <li>WetLands: Ecology and management<li>
            </ul>
            <h3>Everyone is Invited</h3>
            <br>
            <h3>Guest Speakers:</h3>
            <ul>
                <li><a href="//biochemistry.uok.edu.in/DrBashirAhmadGanai.aspx">Prof. B. A. Ganai</a></li>
                <li><a href="//cord.uok.edu.in/DrAshok.aspx">Prof. A. K. Pandit</a></li>
                <li>Prof. G. A. Bhat</li>
                <li>Prof. Sami UllahBhat</li>
                
            </ul>
            <p>Time 10.00 am</p>
            <p>Hitech 2, 23-may-15</p>
        </section>
    </div>
</div>
{% endblock %}