 {% extends "event_layout.html" %} {% block content %} 
<div class="container">

    <div class="content">
    	<h1 style="  text-align: center;">ON SPOT REGISTRATION IN ALL EVENTS</h1>
        <h2>Make your own pottery</h2>
        <section>
            <p>A professional potter will initially teach the participants clay sculpting on the potter's wheel and then there will be a competition on the other day where students will have to make different shapes of pots. <br>
            The participant who puts the pot into the best shape will be considered as the winner. </p>
        </section>
        <section>
            <h3><b>Rules:</b></h3>
            <p>Maximum number of participants: 45.<br>Age limit: Open to all.</p>
        </section>

       
    <br>
    <h2>Loud mouth</h2>
    <section>
        <p>A large bowl will have many balls numbered from 1 to 5 and there will be 5 empty bowls numbered from 1 to 5. The participants with the aid of their mouth have to put the balls in their correct numbered bowl.</p>
    </section>
 
 <br>
     <h2>Cup stacking</h2>
     <section>
         <p>Participant who does the fastest cup stacking up to maximum number of levels.</p>
     </section>
    <br>
    <h2>Water balloon shooting</h2>
    <section>
        <p>This event will be based on shooting water balloons using shooting guns.</p>
    </section>
    
<br>

<h2>Marble arcade</h2>
<section>
    <p>Cut 5 or 6 holes of different size and shapes on a box/board. Each hole should be wide enough for a marble to pass through. Write a number between 1 and 10 above each hole; give easier/bigger holes lower numbers and harder/smaller holes higher numbers. Let the players take turns shooting their marbles one at a time through holes from a spot.</p>
</section>
<section>
    <h3><b>Event Format:</b></h3>
    <h3>Round1:</h3>
    <p>Number of Attempts: 6.<br>
Participants who successfully pass the marble through the two biggest holes atleast 3 times will qualify for round 2.
</p>
<h3>Round2:</h3>
<p>Number of Attempts: 5.<br>
Participants who successfully pass the marble through the two medium holes atleast 3 times will qualify for the final round.
</p>
<h3>Round3:</h3>
<p>Number of Attempts: 4.<br>
Participants who successfully pass the marble through the two smallest holes atleast 3 times will qualify for the final round.
</p>
</section>
    <br>
    <h2><b>Bubble Contest</b></h2>
    <section>
        
        <p>Give each contestant a supply of bubble solution and some bubble blowing tools.<br>
          Wet the table top with bubble solution and have the kids get blowing.</p>
    </section>
    <section>
        <h3><b>Winning Criteria:</b></h3>
        <p>Participants who blow the biggest bubble, who can create the biggest pile of bubbles in 30 secs, whose bubble lasts the longest, who can get a marble or other small toy inside a bubble. </p>
    </section>
   

    <br>
    <h2>Paper crafts/art attack</h2>
    <section>
        <p>The participants will be provided with coloured papers/charts, sketch pens, scissors and they have to make different shapes like flowers, butterflies etc.</p>
    </section> 
<br>
<h2>Bulls eye</h2>
<section>
    <p>The aim of the game is to get as close as you can to the winning bulls eye number. The closer you get, the more you could win.</p>

</section>

<br>
<h2>Three-legged ball-on-spoon race</h2>
<section>
    <p>This game will be played in pairs. One of the partners left leg will be tied with other partners right leg and they have to run with synchronization with spoons in their mouth. They have to hold the spoon with ball on it. The participants have to move with their partners in such a way that the ball they are holding on, in their respective spoon does not fall.</p>
</section>


        </div>
        </div>
 {% endblock %} 