{% extends "event_layout.html" %} {% block content %}
<div class="container">
    <div class="content">
        <h2>GIVE YOUR SHOT</h2>
        <section>
            <p>
                "The Camera is an instrument which teaches people how to see the world without a camera".
            </p>
            <h3 style="text-align:center"> Theme for the Event is "Emotions" </h3>
        </section>
        <section>
            <h4>Workshop</h4>
            <p>
                23rd May 12:30 pm, Workshop on basics of photography by Sajad Rafeeq (NatGeo covershot-maximum cities competition winner)
            </p>
        </section>
        <section>
            <h3>Description for workshop:</h3>
            <ul>
                <li>Workshop on photography by Mr. Sajad Rafeeq.</li>
                <li>For non NITians,Registrations will also be available onspot for the workshop.</li>
                <li>Registration is free.</li>
                <li>Certificate will be given to all the participants.</li>
            </ul>
        </section>
        <section>
            <h4>Events</h4>
            <ul>
                <li>1) Collective photography,</li>
                <li>2) Spot photography</li>
                <li>3) Crazy selfie</li>
            </ul>
        </section>
        <section>
            <h3>Description of event:</h3>
            <ul>
                <li>For collective photography event, you have to send your 3 best photographs before 23-May-2015 to giveyourshot@techvaganza.com .</li>
                <li>Spot photography event will be theme based. Themes will be given by Mr. Sajad Rafeeq on 23nd May 9:00 am and particiapnt have to submit before 1:00pm on the same day. </li>
                <li>Allowed area for spot photography is NIT campus, KU campus and Hazartabal Dargah</li>
                <li>For crazy selfie send your selfies before 23nd May.</li>
                <li>An exhibition of Winnig entries will be there on 24-may-2015. Selected Entries will have to submit hard copies of their work before 10am on 24rd May.</li>
                
            </ul>
        </section>
        <section>
            <h4>Rules:</h4>
            <ul>
                <li>All the participants have to register on the site of Techvaganza for this event.</li>
                <li>No post processing should be done on photos.</li>
                <li>All the photos should be submitted before time. After time is over, no one will be entertained.</li>
                <li>Give appropriate Caption to your photograph.</li>
                <li>Judge’s decision will be final.</li>
            </ul>
        </section>
        
        <section>
            <h3>For more details contact us at.</h3>
            <ul>
                <li>Shashank Singh 9086413683  shashanksinghchouhan@gmail.com</li>
                <li>Rishabh Garg</li>
            </ul>
        </section>
    </div>
</div>

{% endblock %}