{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <section>
            <h2>IAS Topper Shah Faisal is coming for a talk</h2>
            <p>Date:24th May.</p>
               <p>Time:2pm</p>
                 <p>Entries for the talk shall close by 1:30pm</p>

            <h3>Organisors:</h3>
            <ul>
                <li>Peer moomin 990652851 moomin.NIT@gmail.com</li>
                <li>Rohaan Farooq 9596086630</li>
                <li>Saquib Ayub 9858421481</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}