{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <section>
            <h2>Nano Technology</h2>
            <p>Department of Physics, NIT SRINAGAR</p>

            <h3>Organisors:</h3>
            <ul>
                <li>Peer moomin 990652851 moomin.NIT@gmail.com</li>
                <li>Rohaan Farooq 9596086630</li>
                <li>Saquib Ayub 9858421481</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
