{% extends "event_layout.html" %} {% block content %}
<div class="container">

    <div class="content">
        <h2>NET HEURISTICS</h2>
        <section>
            The word "heuristic" is derived from the Greek verb heuriskein, meaning "to find" or "to discover". Archimedes is said to have run down the street shouting "Eureka" (I have found it) after discovering the principle of flotation in his bath. Later generations converted this to Eureka. Have you got that insight within you to be the new Archimedes? Find out by being a part of this event where you will be put to test against the sands of time and the swords of optimality.
        </section>
        <section>
            <h4>EVENT FORMAT:</h4>
            
            <ul>
                <li> Stage 1(day 1): Aptitude test on the basics of simple and logical concepts of programming and Artificial Intelligence.</li>
                <li>	Stage 2(day2): Optimum coding: Coding on problems related with graphs/tress.</li>
                <li>Stage 3(day 3):Finding optimal path to the goal node in a given graph by making use of the provided heuristics and weights.</li>
            </ul>
        </section>
        <section>
            <h4>EVENT DETAILS:</h4>
            <h3>Round1:</h3>
            <ul>
                <li> Round 1: Elimination round: Objective paper on basics of logical programming in c/c++ and Artificial intelligence. There is only one correct answer for each questions.  </li>
            </ul>
            <h3>Round:2</h3>
            <ul>
                <li>Round 2: Optimum coding: Problems related with graphs/trees will be given.Each team will have to solve it optimally (having least time complexity).</li>
            </ul>
            <h3>Round:3</h3>
            <ul>
                <li>A network graph will be provided with heuristics/weights. Participants are required to find the optimal path from source node to goal node(s). Input of the graph with will be given in form of a text file with an pictorial representation of it for better understanding.
                </li>
            </ul>
        </section>
        <section>
        <h4> Note</h4>
     <ul>  <li> Teams need to have basic understanding of heuristic algorithms for 3rd round and graphs/trees for 2nd round. </li>
<li>First and second rounds are pen and paper round.No laptop is required. </li>
<li>Teams need to bring their own laptop in 3rd round and have codeblock software installed in it. </li>

</ul>
</section>

        <section>
            <h3>Rules:</h3>
            <ul>
                <li>Mobile phones are not allowed in any of the stages.</li>
                <li>Each team consists of only two members.</li>
                <li> Each member of the team should bring their own laptop if they qualify second round. </li>
                <li>Violation of any of the above rules will directly cause disqualification of the team.</li>
            </ul>
        </section>
        <section>
            <h3>Judgement Criteria:</h3>
            <ul>
                <li> The game will be conducted in 3 ROUNDS and Round 1 and Round 2 will be of 1 hour each and Round 3 will be of 2 hours. </li>
                <li> After round 1 some teams will be ELIMINATED depending upon score, similar will be the procedure for the 2nd Round as well.</li>
                <li> For the third and final round participants will be judged on the basis of algorithm and the data structure (time and space complexity) they have used for the solution .</li>
                <li>Decision of the organizers will be final &amp; inevitable.</li>
            </ul>
        </section>
        <section>
            <h3>Important Dates:</h3> The entry should be submitted latest by 22nd May, 2015.
        </section>
        
        <section>
            <h3>For more info contact us at:</h3>
            <ul>
                <li>
                    Anubhav Rai (452/12) (09596451756/ anubhavism94@gmail.com)
                </li>
                <li>
                    Rohit Ranjan Verma (581/12) (9697359192/ranjanvermarohit@gmail)
                </li>
            </ul>
        </section>

    </div>
</div>
{% endblock %}