<!-- {% extends "base.html" %} {% block header %} -->

<div class="container">

    <div class="content">
     <h2>Oscilloscope drawing</h2>
	        <section>
	            <p> Here comes the most exciting event with full of fun.We draw pictures with pencil,marker,pen etc.But have you thought of drawing different kinds of figures using an oscilloscope…!!.
Yes,it is the CRO(Cathode Ray Oscilloscope) which is used in the laboratories that we are talking about.
</p>
	        </section>
	         <section>
	        <h4>EVENT FORMAT:</h4>Event would be of one day duration which is free of cost.

	          <ul>
	              <li> Round1:Event will commence with usage of oscilloscope which is explained by the students itself.</li>
	              </ul>

	          <ul>
	              <li> Round2:A competition would be held where the students are given with a problem statement on the spot.Time and accuracy will decide the winner.</li>
	              </ul>

			  	          </section>




	    <section>
	        <h3>Important:</h3>
	        <p>The  entry should be submitted latest by 22nd May, 2015.</p>
	           <p>Every team will consist of four members.</p>

	    </section>

	    

	    <section>
	            <h3>
	                For more info contact us at:
	            </h3>
	            <ul>
	                <li>
                         M.Abhilash Reddy

	                </li>
	                <li>
	                  K.Mukesh Choudhary
	                </li>
	            </ul>


	        </section>

	</div>
	</div>