 {% extends "event_layout.html" %} {% block content %} 

<div class="container">

    <div class="content">
        <h2> Innovation By Young</h2>
      
       
 <section>
            <h3><b>Event Format :</b></h3>
            <ul>
                <li>Stage 1(May 21:  Forenoon): Preliminary round includes submission of innovative ideas/ innovative projects to innovation@techvaganza.org</li>
                <li>Stage 2(May 21: Afternoon): Shortlisted models will be displayed.</li>
                <li>Stage 3(May 22): Participants will be required to deliver an elaborate presentation on the innovative ideas suggested by them in the previous round.</li>
               
            </ul>
        </section>
         <section>
            <h3><b>Rules :</b></h3>
            <ul>
                <li>   Each team must contain maximum of two members.</li>
                <li>   Gadgets not allowed unless stated.</li>
                <li>  Involvement in any illegal activity may lead to disqualification of the team.</li>
               
            </ul>
        </section>

        
        <section>
            <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Mukund Kumar : 9086664092
                </li>
                <li>
                     Kunal Kumar Rai : 9086462536
                </li>
                  <li>
                     Pradeep Mishra : 8715058131
                </li>
           
            </ul>
        </section>
        </div>
        </div>


        {% endblock %}