{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <section>
            <h2>Full stack Python Programming And Natural language Processig.</h2>
            <p>Department of Information &amp; Technology, NIT SRINAGAR</p>

            <h3>Organisors:</h3>
            <ul>
                <li>Khalid Pandit</li>
                <li>Aadil Bashir</li>
                <li>Samim Zahoor</li>
                <li>Arslan Basir</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
