
{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Rangrezza Spectrum</h2>
        <section>
           <h3><b>Event format:</b></h3>
           <h3>Round1(Day 1, 2, 3 ):</h3>
           <p>Exhibition of self-created participant's handmade art pieces.</p>
           <h3>Round2(Day 2):</h3>
           <p>On the spot painting Competition.</p>
           <h3>Day 3:</h3>
           <p><b>Result</b></p>
        </section>
        <section>
            <h3><b>Rules:</b></h3>
            <ul>
                <li>Participant's works may be of the following types:-
                <ul>
                <li>Sketching </li>
                <li>Drawing/ Coloring</li>  
                <li>Oil Painting/Acrylic Painting</li>
                <li>Water Painting</li>
                <li>Glass Painting etc.</li>

                </ul></li>
                <li>Entries may be submitted on paper/canvas/glass etc. </li>
                <li>The deadline for submission of all the painting to the organizers at NIT SRINAGAR would be 21st May, 2015 (Thursday) which will be strictly followed.</li>
                <li>Digital art not allowed.</li>
                <li>There is no restriction on age group.</li>
                <li>No theme in particular. Contestants are free to create whatever they like.</li>
                <li>There are no restrictions on the number of entries submitted by a participant.</li>
                <li>Please note that this is not an online painting competition. The painting/artwork should be physically present or must reach the organizers by the deadline mentioned.</li>

            </ul>
        </section>
        <section>
            <h3><b>Eligibility Criteria:</b></h3>
            <ul>
            <li>No adult themed paintings will be accepted.</li>
            <li>Each work should be the original creation of the participant i.e., the painting must be an unpublished work.</li>
            <li>The participant will be required to show the proof that it is his/her art work.<br>(Example a photograph of them with their painting, photograph of the painting when it was partially complete etc.) </li>
            <li>Best Paintings/artwork will be published in the Exhibition.</li>
            <li>All the painting/artwork should be submitted with participant's name, Title for the artwork along with Category and Description.</li>
            <li>The best painting/artwork will be published on the Techvaganza 2015 Facebook Page on 22nd May 2015 (Friday).</li>
            </ul>
        </section>
        <section>
            <h3><b>Judging Criteria:</b></h3>
            <b><p>The judges shall Judge the entries from among all eligible entries based on the following criteria:-</p></b>
            <ul>
                <li> Creativity and originality of the depicted theme.</li>
                <li>Visual Impact.</li>
                <li>Quality of artistic composition and overall design.</li>
            </ul>
            <p><b>Winning Criteria: </b></p>
            <ul>
                <li>60% will be based on the decision of Judges.</li>
                <li> 20% will be based on the number of Facebook likes the participant can get to their painting link (which will be provided to them once their painting gets selected for publishing).</li>
                <li>20% will be based on the spot voting by the visitors.</li>
                <li></li>
            </ul>
        </section>
        <section>
            <h3><b>ON THE SPOT THEME PAINTING COMPETITION:</b></h3>
            <p>For Kids (5years - 14years)<br>(2nd day - 23rd May 2015)</p>
            <ul>
                <li>The painting theme/topic will be declared on the spot or a day before the competition </li>
                <li>Chart paper will be provided on the competition day .</li>
                <li>Colors will be provided. </li>
                <li>Time constraint: 2-3 hours.</li>
                <li>  Exciting prizes for the winners of "on the spot painting".</li>
                <li>The participants can bring their own colors and brushes.</li>
                <li>The winning paintings will also be displayed in the exhibition as well.</li>
            </ul>

        </section>
        <section>
            <h3><b>Note:</b></h3>
            <p>The winners of "Exhibition" are different from those of "On the spot painting".</p>
        </section>
        <section>
            <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Abhay Kumar :
                </li>
                <li>
                   Dharmendra Singh Sekhawat :
                </li>
                
            </ul>
        </section>

{% endblock %}