{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Robo Maze</h2>
        <section>
            <p>
                This event is a maze in which the bot has to solve it and reach the goal in least possible time.This is an autonomous events of line following robots,participants have to place their robots on the starting point of the maze.The robot that traverses the path of maze and reach to the destination in the least time will be winner.
            </p>
        </section>
        <section>
            <h4>Event Format</h4>
            <ul>
                <li>There shall be two round-qualifier and knock-out round and then one final round.</li>
                <li>Participants qualified from round first will enter in the next round and eventually completing the maze will be winner.</li>
            </ul>
        </section>
        <section>
            <h4>Rules and Regulation</h4>
            <ul>
                <li>There will be one driver in per team which will control the bots and other team members has to guide him/her</li>
                <li>A maximum of 5 minutes will be given to complete maze.</li>

            </ul>
        </section>
        <section>
            <h3>For more details contact</h3>
            <ul>
                <li>Praveen kumar 9086413671</li>
                <li>Harsh ranjan(6th sem ece)</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}