{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Rock it up</h2>
        <section>
            Do you have a kick for Rockets? Does your heart pumps more vigorously when you hear 'Rocket Science'?Then this event is solely for you. Here comes 'Rock-IT Up V-2', this time with more thrill and excitement.
        </section>
        <section>
            <h4>Event Format:</h4>
            <p>
                The event will consist of three rounds. Each round will have a specific format. The winner of the event will be decided in the final round.
            </p>
        </section>
        <section>
            <h4>Rounds</h4>
            <h3>Preliminary Round (Round 1):</h3>
            <p>
                This round will consist of a MCQ paper having questions related to the following sections:-
            </p>
            <ul>
                <li>
                    1. Basic Mechanics
                </li>
                <li>
                    2. Technical Aptitude
                </li>
                <li>
                    3. Logical and Analytical Thinking
                </li>
                <li>
                    This section will be relatively easy and will be used as a screening method for candidates. The selected teams will proceed to Round 2.
                </li>
            </ul>
            <h3>Demonstration:</h3>
            <p>
                The qualifying teams of Round 1 will be introduced to the world of water rockets and also to the procedures of making them. A demonstration on how to launch water rockets will also be given to the qualifying teams. Two 2/1.5L bottles will also be provided to each qualifying team to make their rockets. Each team have to make two rockets (one rocket as a back-up).
            </p>
        </section>
        <section>
            <h3>Round 2:</h3>
            <p>
                Maximum Range Round
            </p>
            <p>
                The 2nd Round will simply test the Range of the rockets under some specified criteria. Every team will be given two chances to hit the longest range of distance & the maximum of the two will decide their score. The rocket launcher will be provided at the event site to the participating teams to launch their rocket. No fuel other than water is allowed to use in rocket.
            </p>
            <h3>Round 3 :</h3>
            <p>Accuracy Round</p>
            <p>
                The aim of this round is to launch a rocket powered by water/air pressure and land it in designated target zones. The score gained will be inversely proportional to deviation from the target zone. The launch angle will play a paramount role in this round. The teams are free to launch their rocket at any desired angle. No fuel other than water is allowed to use in rocket.
            </p>
        </section>
        
        <section>
            <h3>Judging Criteria:</h3>
            <ul>
                <li>Design: The team with the better design will be awarded more points.</li>
                <li>Finishing: The team with the better working model (In terms of finishing) will be awarded more points.</li>
                <li>Accuracy : The accuracy will play a crutial role in scoring points for the team.</li>

            </ul>

        </section>
        <section>
            <h3>Rules:</h3>
            <ul>
                <li>A team can have a maximum of three members.</li>
                <li>The rocket modelling will have to be completed in the stipulated time period. No extra time will be given.</li>
                <li>The score obtained in the preliminary round will be the sole criteria for entry into the second round.</li>
                <li>The call of the judges is final and no further arguments will be entertained.</li>
            </ul>
        </section>
        <section>
            <h3>For more info, contact</h3>
            <ul>
                <li>Shubham Choudhary shubh0793@gmail.com 9086413664</li>
                <li>Siddharth Vyas sid.vys@gmail.com 9086667945 </li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
