{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>Routomania</h2>
        <section>
            <p>
                BE ready to create your own network...
            </p>
        </section>
        <section>
            <h3>Event Format</h3>
            <ul>
                <li>Stage 1: Simple quiz on Networking principles.</li>
                <li>Stage 2: Realisation of routing of network on simulator(Cisco packet tracer).</li>
                <li>Stage 3: Set up a network using frame relay protocol(After demonstration).</li>
            </ul>
        </section>
        <section>
            <h3>Event Details</h3>
            <ul>
                <li>All participants must have their laptops with them(BYOD).</li>
                <li>All participants will be provided with same version of Cisco packet tracer.</li>
                <li>All participants those who enter second round are requested to make attachment of their name and password to their laptops with the help of paper.</li>
            </ul>
        </section>
        <section>
            <h3>
Competition Details:  
</h3>
            <ul>

                <li>This event shall be preceded by preliminary round of multiple choice questions.</li>
                <li>50% of total participants shall be selected for 2nd round.</li>
                <li>25% shall be selected for 3rd round .</li>
                <li>Every stage has its own marking value.</li>

            </ul>
        </section>
        <section>
            <h3>
 Judging Criteria
    </h3>
            <ul>
                <li>a) Stage 1: 50 points based on their performance in test.</li>
                <li>b) Stage 2: 100 points ( time =30 minutes)
                    <ul>
                        <li>• 70 points on successful routing of network.</li>
                        <li>Each saved unit of time will add 1 point to total score</li>
                    </ul>
                </li>
                <li>Stage 3: 50 points ( Time = 30 minutes).
                    <ul>
                        <li>20 points on successful deployment of frame relay protocol in network using simulator.</li>
                        <li>Each saved unit of time will add 1 marks to total score.</li>
                    </ul>
                </li>
                <li>Winners will be declared on cumulative score of all the three rounds.</li>
            </ul>
        </section>
        <section>
            <h3>For more details contact us </h3>
            <ul>
                <li>Farooq Ahmad Wani (8803432406). </li>
                <li>Mohammad Mujtahid(9797939449). mujhtahid.nit@gmail.com
                </li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
