 {% extends "event_layout.html" %} {% block content %} 

<div class="container">

    <div class="content">
        <h2>TechTalks</h2>
        <section>
            <h3><b>Introduction:</b></h3>
            <p>
            Have you ever wanted to know about the latest in the fields of research,innovations, developments and all.  Techtalks  provides you with the best platform to enrich your knowledge domain  and broaden your perspectives .Join us on the following days for a never before experienced Technical Enlightenment.<br>This event is based on the pattern of TED Talks which is a platform through which new ideas and innovations are shared with the world. 
The students and faculty who are willing to provide motivation to the students by sharing their experiences,knowledge and secrets of success shall be invited to use this platform to do so. 
</p>
        </section>
           <section>
            <h3><b> Important Dates: </b></h3>
            <ul>
               22nd May Time: 3-4pm<br> 24th May Time:  2-4pm

            </ul>
        </section>
         <section>
            <p>Speakers can also be nominated by sending an email at adityagupta679+tech@gmail.com with the subject-TECHTALKS
 or contacting the organizers.
</p>
        </section>
        
        
        <section>
            <h3><b>Speaker Selection Criteria: </b></h3>
            <ul>
                <li>Student Speakers shall be selected based on their achievments, accomplishments, project works, Technical knowledge etc.   </li>
                <li>Faculty Speakers shall be selected and invited on the recommendation of the specific HOD's.</li>

            </ul>
        </section>
       
        <section>
            <h3>
               <b> For more info contact us at:</b>
            </h3>
            <ul>
                <li>
                    Aditya Gupta : 9622131800
                </li>
                <li>
                     Mohit : 7298956899
                </li>
           
            </ul>
        </section>
        </div>
        </div>


        {% endblock %}