

 {% extends "event_layout.html" %} {% block content %} 
<div class="container">

    <div class="content">
        <h2>MINUTE TO WIN IT </h2>
        <section>
        <p>Total fun event for crowd at ground level .  Just a minute to win exciting prizes . Need not to have any team ,but registration is must .All the three days , 15 different tasks to do . A Total event for merely entertainment. Show the courage to take the given challenges .</p>
        </section>

        <section>
            <h3><b>Event format:</b></h3>
            <h3>Round1(day1):</h3>
            <p >5 tasks for 1hour . It can be anything like pushups ,DIPS ,BULLS EYE etc. for every task one Participant who will pass that task clearly will get the prize</p>
            <h3>Round2(day2):</h3>
            <p>Again 5 tasks for 1hour .Bt this time with different tasks .Participants can be selected from the crowd only.</p>
            <h3>Round3(day3):</h3>
            <p>5 task for 1Hour.different tasks and additional fun as the closing to this event.</p>
        </section>
        <section>
            <h3><b>Rules:</b></h3>
            <p><b>First come first served.</b></p>
            <p>Organizer decision will be final .<br>Events are for fun only.<br>Any sort of indiscipline will not be tolerated.<br>You cant quit without trying.</p>
        </section>
        <section>
            <h3><b>Judging criteria:</b></h3>
            <p>Totally on performance on the spot .<br>As fair as possible.</p>
        </section>



    <section>
            <h3>
                <b>For more info contact us at:</b>
            </h3>
            <ul style="list-style:none">
                <li>
                   Farah magray 
                </li>
                <li>
                   Surbhi goswami
                </li>
            </ul>
            
        </section>
</div>
</div>
 {% endblock %} 