{% extends "event_layout.html" %} {% block content %}

<div class="container">

    <div class="content">
        <h2>TRUSS THY BRIDGE</h2>
        <section>
         <p>The distinctiveness of humans as a species is defined by their use of tools, and bridges are technological tools that aim to solve the problem of crossing an obstacle in such a way as to cut down the effort and time needed to do so. The better the bridge the less attention the user will need to pay it. This event focuses on the efficiency of your bridge and your ability as a civil engineer.</p>
			<p>So, are you ready for the most exciting event of Techvaganza 2K15.</p>
        </section>
        
        <section>
            <h4>Event format:</h4>
            <ul>
            	<li>Stage 1: Demonstration regarding truss bridge designing.</li>
            	<li>Stage 2: Designing and construction of truss bridge.</li>
            </ul>
        </section>
        <section>
            <h3>Rules and Regulations:</h3>
            <ul>
                <li>Each team must consist of 3 members only.</li>
                <li>Participants are supposed to bring laptops of their own.</li>
                <li>Use of internet, mobile phones during the event is strictly prohibited.</li>
                <li>The span of bridge should not be greater than 1ft.</li>
                <li>Contestants can use only the materials provided by the organisers.</li>
            </ul>
        </section>
        <section>
            <h3>Judgement Criteria</h3>
            <p>Contestants will be judged according to the design and efficiency of their bridge. The most economic design with maximum strength will be considered the best. Decision of organiser will be final.</p>
        </section>
     
        <section>
            <h3>
                For more info contact us at:
            </h3>
            <ul>
                <li>Vaibhav Khandelwal : Vaibhav.khandelwal607@gmail.com</li>
                <li>Aparajita Tiwari : Tiwari.aparajita94@gmail.com</li>
                <li>Girish kr. Agrawal : Gkagarwal013@gmail.com</li>
            </ul>
        </section>

    </div>

</div>


{% endblock %}
